---
- include_vars: '{{ item }}'
  with_first_found:
  - '{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml'
  - '{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml'
  - '{{ ansible_distribution }}.yml'
  - '{{ ansible_os_family }}.yml'
  tags:
  - mariadb_install
  - mariadb_config
  - mariadb_service

- include: yum_repo.yml
  when: ansible_pkg_mgr == "yum"
  tags: mariadb_install

- include: install.yml
  tags: mariadb_install

- include: config.yml
  tags: mariadb_config

- include: service.yml
  tags: mariadb_service

- include: db.yml
  tags: mariadb_db

- include: user.yml
  tags: mariadb_user

- meta: flush_handlers
  when: '{{ mariadb_flush_handlers }}'
